@import "tailwindcss";

@theme {
    --color-matcha-dark: #44624a;
    --color-matcha-medium: #8ba888;
    --color-matcha-light: #c0cfb2;

    --color-neutral: #f1ebe1;
}


h1 {
    @apply text-4xl font-bold mb-4;
}

h2 {
    @apply text-3xl font-semibold mb-3;
}

h3 {
    @apply text-2xl font-semibold mb-2;
}

p {
    @apply text-base mb-4;
}
